* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 230, 230);
}

header {
    text-align: center;
    background-color: #6b9080;
    color: rgb(237, 232, 232);
    width: 100%;
    height: 100px;
}

header h1 {
    position: relative;
    top: 30px;
}

#add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding-left: 30px;
}
#add input::placeholder{
    text-align: center;
}

.timeClass{
    z-index: 10;
}
#note,
#add button {
    padding: 15px;
    font-size: large;
}

#note {
    width: 250px;
    overflow: scroll;
    border-radius: 15px;
}

#add button{
    margin-left: 5px;
    border-radius:15px ;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.note1 {
    flex-basis: 20%;
    flex-grow: 1;
    position: relative;
    text-align: center; 
    left: 10px;
    margin: 20px;
    width: 250px;
    height: 300px;
    background-color:#c1e1c1;
    border-radius: 20px;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    color:#000000;
}

.container p {
    font-size: 25px;
    text-align: center;
    vertical-align: middle;

}

.note1 button {
    position: sticky;
    top: 0;
    left: 90%;
    background: transparent;
    border: none;
    transform: scale(2);
}

.butClass {
    position: sticky;
    top: 0;
    padding: 12px;
    text-align: end;
}

.parClass {
    display: flex;
    width: 100%;
    height: 240px;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    scrollbar-width: none;
}


.timeClass{
    width: 100%;
    height: auto;
    text-align: end;
}
.timeClass p{
    height: auto;
    color: black;
    font-weight: bolder;
    text-align: right;
    padding-right: 10px;
    font-size: 15px;
}

.timeClass p:hover{
    text-decoration:underline;
}

.parClass p {
    padding: 10px;
    vertical-align: center;
}

@media screen and (max-width:800px){
    .container{
        flex-direction: column;
        justify-content: center;
    }
    #add{
        margin-left: 10px;
        padding-left: 0px;
    }
    #note{
        padding: 5px;
        margin-left: 10%;
    }
    #note::placeholder{
        text-align: center;
    }
    #add button{
        padding: 5px;
        border-radius: 10px;
        margin-left: 2px;
    }
    .note1{
        width: 70%;
    }
}